<!DOCTYPE html>
<html lang="en" xmlns:ht="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Dentists</title>
</head>
<body>

    <h1 th:text="'List of Dentists'">Diş hekimlerinin listesi</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Soyisim</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dentist : ${dentists}">
            <td th:text="${dentist?.id}">1</td>
            <td th:text="${dentist?.firstName}">Joe</td>
            <td th:text="${dentist?.lastName}">Buck</td>
        </tr>
        </tbody>
    </table>
    <h2><a href="/">Main Page</a></h2>
</body>
</html>