<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'patients')}">
<head>
    <meta charset="UTF-8">
    <title>List of Patients</title>
</head>
<body>
    <!--/*@thymesVar id="dentist" type="org.denclinic.denclinic.model.Dentist"*/-->
    <h1 th:text="'List of Patients'">Hastaların Listesi</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 150px;">İsim</th>
            <th style="width: 150px;">Soyisim</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient?.id}">1</td>
                <td th:text="${patient?.firstName}">Joe</td>
                <td th:text="${patient?.lastName}">Buck</td>
            </tr>
        </tbody>
    </table>

</body>
</html>